## Data analysis project with SQL and creation of visualizations with Tableau.

Exploratory analysis to know the relationship between the different variables: 

* city_ development _index : Developement index of the city (scaled)

* gender: Gender of candidate

* education_level: Education level of candidate

* major_discipline :Education major discipline of candidate

* experience: Candidate total experience in years

* last_new_job: Difference in years between previous job and current job

# **Gender Analysis**
**Analysis of the gender variable to determine the number of women and men who would apply for a data scientist position**

In [ ]:
SELECT 
    gender AS Gender,
    COUNT(*) AS Count_Gender,
      (SELECT
        COUNT (gender) 
      FROM 
       `hr-analysis-portfolio-1.HR_Analytics.dataset_train`
      WHERE
        gender= "Male" OR
        gender= "Female"
       ) AS Total,
  FROM 
   `hr-analysis-portfolio-1.HR_Analytics.dataset_train`
  WHERE 
   gender IN ('Male','Female')
  GROUP BY 
    gender; 

--RESULTS
[{
  "Gender": "Male",
  "Count_Gender": "13221",
  "Total": "14459"
}, {
  "Gender": "Female",
  "Count_Gender": "1238",
  "Total": "14459"
}]

**Percentage of women and men, using the above query as a temporary table**

In [ ]:
WITH group_by_gender AS
(SELECT 
    gender AS Gender,
    COUNT(*) AS Count_Gender,
      (SELECT
        COUNT (gender) 
      FROM 
        `hr-analysis-portfolio-1.HR_Analytics.dataset_train`
      WHERE
         gender= "Male" OR
        gender= "Female"
       ) AS Total,
  FROM 
    `hr-analysis-portfolio-1.HR_Analytics.dataset_train`
  WHERE 
    gender IN ('Male','Female')
  GROUP BY 
    gender)
SELECT 
  Count_Gender / Total * 100 AS Percentage
FROM 
  `hr-analysis-portfolio-1.HR_Analytics.Group_by_gender`
--RESULTS  
[{
  "Percentage": "91.43785877308251"
}, {
  "Percentage": "8.5621412269174915"
}]

**Analysis of the number of men and women coming from STEM disciplines.**

In [ ]:
SELECT 
    gender AS Gender,
    COUNT(*) AS Count_Gender,
      (SELECT
        COUNT (gender) 
      FROM 
      `hr-analysis-portfolio-1.HR_Analytics.dataset_train`
      WHERE
      gender= "Male" OR
      gender= "Female"
     ) AS Total,
  FROM 
   `hr-analysis-portfolio-1.HR_Analytics.dataset_train`
  WHERE 
    gender IN ('Male','Female') AND major_discipline ='STEM'
  GROUP BY 
    gender; 
--RESULTS
[{
  "Gender": "Male",
  "Count_Gender": "10145",
  "Total": "14459"
}, {
  "Gender": "Female",
  "Count_Gender": "928",
  "Total": "14459"
}]

**Percentage of women and men in STEM**

In [ ]:
WITH Gender_STEM AS
(SELECT 
    gender AS Gender,
    COUNT(*) AS Count_Gender,
        (SELECT
        COUNT (gender) 
        FROM 
      `hr-analysis-portfolio-1.HR_Analytics.dataset_train`
        WHERE
      gender= "Male" OR
      gender= "Female"
      ) AS Total,
    FROM 
  `hr-analysis-portfolio-1.HR_Analytics.dataset_train`
    WHERE 
    gender IN ('Male', 'Female') AND 
    major_discipline IN ('STEM')
  GROUP BY 
    gender)
SELECT 
  Count_Gender/Total*100 AS Percentage_STEM
FROM 
  `hr-analysis-portfolio-1.HR_Analytics.Group_by_gender_STEM`
  -- RESULTS
[{
  "Percentage_STEM": "70.163911750466838"
}, {
  "Percentage_STEM": "6.4181478663808011"
}]

# **City development index**

**Calculation of the minimum and maximum values of the development index and its mean.**

In [ ]:
SELECT
  MIN (city_development_index) AS Min_development_index, 
  MAX (city_development_index) AS Max_development_index,
  AVG (city_development_index) AS Average_development_index
  FROM 
    `hr-analysis-portfolio-1.HR_Analytics.dataset_train` 
--RESULTS
 [{
  "Min_development_index": "0.44799999999999995",
  "Max_development_index": "0.94900000000000007",
  "Average_development_index": "0.828848000835162"
}]

**Men and women in STEM in citys where the development index is above or equal to average.**

In [ ]:
SELECT 
    gender,
    COUNT(*) 
  FROM 
  `hr-analysis-portfolio-1.HR_Analytics.dataset_train`
  WHERE 
  gender IN ('Male','Female') AND city_development_index >= 0.828 AND major_discipline='STEM'
  GROUP BY gender; 
  --RESULTS 
  [{
  "gender": "Male",
  "f0_": "6857"
}, {
  "gender": "Female",
  "f0_": "625"
}]

**Men and women in STEM in citys where the development index is under average.**

In [ ]:
SELECT 
    gender,
    COUNT(*) 
  FROM 
  `hr-analysis-portfolio-1.HR_Analytics.dataset_train`
  WHERE 
  gender IN ('Male','Female') AND city_development_index < 0.828 AND major_discipline='STEM'
  GROUP BY gender; 
--RESULTS 
[{
  "gender": "Male",
  "f0_": "3288"
}, {
  "gender": "Female",
  "f0_": "303"
}]